[plugin]
name="Tesseract"
description="Tesseract mod loader & development tool."
author="PhosXD"
version="1.0.0"
script="plugin.gd"

[game]
; Current version of the game's API. This can be any value not just a flat number.
; Only change this across versions of your game which have breaking changes to the file structure
; or in the way it interacts with mods.
api_version=1
; Path to load Tesseract mods from (folder or TMOD).
mods_path="user://MODS"
; Path to load all mods into.
; If path ends with "*" will put the mod into a sub-directory with the name of the mod (or file name if details are unavailable).
load_mods_into_path=""
; Paths mods are not allowed to overwrite or add to.
forbidden_paths=["addons/"]
; If true, Tesseract will load in mods that don't have any configuration, name, or other details.
; These mods will not be accesible to the game in any way.
allow_mods_without_details=false
; If true, mods can overwrite existing files.
allow_overwriting_files=true
; If true, mods can add new files.
allow_creating_files=true
; If true, mods can have & use GDScript files.
allow_mod_scripts=true
; List of keywords that if found in a script will not load that script.
; This can (to an extent) be used to prevent the use of dangerous classes & autoload singletons.
;
; Workarounds:
; - ClassDB.class_call_static (Calling class methods through the ClassDB)
; - Engine.get_singleton (Getting singletons from the engine singleton)
; - GDScript. (Runtime script construction, to prevent scripts from being created at runtime it is necessary to block ALL GDScript methods)
;
; To prevent these workarounds, use this list:
; ["ClassDB.", "Engine.", "GDScript."]
;
; There are very well more workarounds that have not been or can not be accounted for.
; But this should be enough to deter most people from writing mallicious code.
blocked_script_keywords=["FileAccess", "DirAccess", "ClassDB.", "Engine.", "GDScript."]

[MOD TYPE: theme]
load_from_path="user://THEMES"
load_mods_into_path="Themes/*/"
allow_mod_scripts=false
